/* I opted to create a seperate CSS code for the first page and the menu, so I can apply the menu CSS to all pages. */

/* This code is pretty straightforward, all it does is adjust the color, font, size and location of each element.*/
h1 {
    font-size: 40px;
    color:black;
    padding-bottom: 25px;
}

img {
    border-radius: 8px;
    border: 2px solid black;
  }

div.text {
    padding: 15px;
    text-align: center;
    font-size: 30px;
    color:black;
}